/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*Input div*/
.input-wrapper {
    margin: 50px;
    padding: 50px;
    background-color: lightgray;
}

.input-form {
    background-color: rgb(241, 241, 241);;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.input-button {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
}

.input-button button {
    padding: 8px;
}



/*Biglietto div*/
.biglietto-wrapper {
    margin: 50px;
    padding: 50px;
    background-color: lightgray;
}

.left, .box {
    padding: 15px;
}

.left {
    background-color: white;
}

.right {
    margin-left: 335px;
    background-color: white;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-text {
    width: 100%;
    padding-bottom: 50px;
}

#hidden {
    display: none;
}


.visible {
    display: block;
}